.workspace-wrapper {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    font-size: 20px;
    margin-top: 10px;
}

.body {
    display:flex;
    align-content: center;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-family: "sans-serif";
    align-items: center;
    -webkit-align-items: center;
}

.workspace {
    flex: 1 0 inherit;
    margin: 1em;
}
.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#canvasImage {
    z-index: 0;
}

#canvasRectangle {
    z-index: 1;

}
.button-bar {
    z-index: 3;
}

#buttonWrapper {
    width: 30px;
    top: 2px;
    right: 2px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    

}
input[type =
"button"] {
    padding: 5px;
    width: 30px;
    margin: 0px 0px 2px 0px;
    column-count: 3;
    column-gap: 20px;
}