<div class="body">
    <p *ngIf="webUrl !== '' && imgFail">
         Failed to load image since bad URL or CORS is not supported
    </p>
    <p *ngIf="imgFail && 
              ((imageToShow && imageToShow.length && imageToShow.length/(1024*1024 > 2)) 
              || (imgUrl && imgUrl.length && imgUrl.length/(1024*1024 > 2)))">
    	When Download Failed with Netwrok Error, then the browser has refused to save the image since the Data URI is too long.
        The loaded image URI size is {{imgUrl.length/(1024*1024)}} MB
        The edited image URI size is {{imageToShow.length /(1024*1024)}} MB
    </p>

    <div class="workspace-wrapper"> 
     
        <div  class="workspace controls">
            <div *ngIf="image" id="buttonWrapper">
                <input type="button" id="plus" value="➕" 
                        title="Enlarge Image" (click)="scaleImage(1)">
                <input type="button" id="minus" value="➖" 
                        title="Shrink Image" (click)="scaleImage(0)">
                <input *ngIf="imgDeminsions.x && imgDeminsions.y"
                        title="Save Image" type="button" (click)="saveImage('file')" value="💽">
                <input *ngIf="imgDeminsions.x && imgDeminsions.y"
                        title="Clear Image" type="button" (click)="resetImage()" value="💨">                    
                <input *ngIf="imgSelection.deminsions.x && imgSelection.deminsions.y"
                        title="Crop Image" type="button" (click)="cropImage()" value="📸">
            </div>
        </div>
        
        <div class="workspace" (mousemove)="moving($event)" (mouseout)="endDrag($event)"
            (mousedown)="beginDrag($event)" (mouseup)="endDrag($event)"
            [style.height.px]="imgDeminsions.y" [style.width.px]="imgDeminsions.x">
            <canvas [height]="imgDeminsions.y" [width]="imgDeminsions.x"
                    id="canvasImage">
            </canvas>
            <canvas [height]="imgDeminsions.y" [width]="imgDeminsions.x"
                    id="canvasRectangle">

            </canvas>
            <canvas id="scaledCanvas" [width]="scaleDeminsions.x" [height]="scaleDeminsions.y">
            </canvas>
        </div>
        <div *ngIf="imageToShow" class="workspace">
            <img [src]="imageToShow"
                 alt="Altered image">
                 <br/>

            <button (click)="saveImage('edit')">
                Save
            </button>

        </div>

    </div>
    <br/>
    <div class="button-bar">
        <div>

            <label for="userFile">
                Select an image file to crop or scale :)
                <br/>
                <input type="file" id="userFile" (change)="readImageFromUser($event)"
                    [ngModel]="imgFile" accept="image/*">
            </label>
            <br/>

            <label for="webUrl">
                Or the URL of an Image hosted on a server supporting cross-orgin requests (e.g. imgur)
                <br/>
                <input type="text" placeholder="Enter a URL of an image" [(ngModel)]="webUrl" name="webUrl">
            </label>

            <button type="button" (click)="getImageFromService()">Get Image</button>
            </div>
    </div>
</div>
