<div class="body">
    <h3>Image Mash!</h3>
    <p *ngIf="webUrl !== '' && imgFail">
         Failed to load image {{webUrl}} due to bad URL or CORS is not supported by the server
    </p>
    <ul *ngIf="largeImage()">
    	If Download Failed with Netwrok Error, then the browser has refused to save the image since the Data URI is too long.
        <li *ngIf="imgDataURI && imgDataURI.length">The loaded image URI size is {{imgDataURI.length/(1024*1024) | number}} MB</li>
        <li *ngIf="imageToShow && imageToShow.length">The edited image URI size is {{imageToShow.length /(1024*1024)| number}} MB</li>
    </ul>
    <div class="button-bar">
        <div>

            <label for="userFile">
		        <button class="fileButton" title="Select File" (click)="file.click()">📂</button>
                &nbsp;Choose an image file to resize (➖/➕) or make a selection to crop (📸) then save (💽) or clear (💨)  Output is to the right.
                <input type="file" id="userFile" (change)="readImageFromUser($event)"
                    [ngModel]="imgFile" accept="image/*" #file>
            </label>
            <br/>

            <label for="webUrl">
                Or enter URL of an Image hosted on a server supporting cross-orgin requests (e.g. imgur)
                <br/>
                <input type="text" placeholder="Enter a URL of an image" [(ngModel)]="webUrl" name="webUrl">
            </label>

            <button type="button" (click)="getImageFromService()">Get Image</button>
            <p>Users w/ touch can brief-tap on image to reset scroll</p>
        
        </div>
        
    </div>
    <div class="workspace-wrapper"> 
     
        <div  class="workspace controls">
            <div  *ngIf="image" class="floatWrapper">
                <input type="button" id="plus" value="➕" 
                        title="Enlarge Image" (click)="enlarge()">
                <input type="button" id="minus" value="➖" 
                        title="Shrink Image" (click)="shrink()">
                <input *ngIf="imgDeminsions.x && imgDeminsions.y"
                        title="Save Image" type="button" (click)="saveImage('file')" value="💽">
                <input *ngIf="imgDeminsions.x && imgDeminsions.y"
                        title="Clear Image" type="button" (click)="resetImage()" value="💨">                    
                <input *ngIf="imgSelection.deminsions.x && imgSelection.deminsions.y"
                        title="Crop Image" type="button" (click)="cropImage()" value="📸">
		        <button class="fileButton" title="Select File" (click)="file.click()">📂</button>
            </div>
        </div>

        <div class="workspace controls" (mousemove)="moving($event)" (mouseout)="endDrag($event)"
	     (mousedown)="beginDrag($event)" (mouseup)="endDrag($event)"
         (panstart)="onPanStart($event)" (panmove)="onPanMove($event)"
         (panend)="onPanEnd($event)" (pancancel)="onPanEnd($event)">
	     <canvas [height]="imgDeminsions.y" [width]="imgDeminsions.x"
                 id="canvasImage"
                 (tap)="onTapped($event)">
            </canvas>
            <canvas id="scaledCanvas">
            </canvas>
        </div>
        <div *ngIf="imageToShow" class="workspace contols">
            <div class="floatWrapper">
                <img [src]="imageToShow" class="editedImage"
                    alt="Altered image">
                    <br/>

                <button (click)="saveImage('edit')" title="Save Image">💽</button>
            </div>
        </div>

    </div>

    <p> View this Angular application's <a href="https://github.com/thadras/image-mash">source code</a> or mash it up on <a href="https://stackblitz.com/github/thadras/image-mash">StackBlitz</a></p>

</div>
